<div class="leftside-menu">

  <!-- Brand Logo Light -->
  <a href="index.html" class="logo logo-light">
    <span class="logo-lg">
      <img src="/images/whitelogo.png" alt="logo" />
    </span>
    <span class="logo-sm">
      <img src="/images/whitelogosm.png" alt="small logo" />
    </span>
  </a>

  <!-- Brand Logo Dark -->
  <a href="index.html" class="logo logo-dark">
    <span class="logo-lg">
      <img src="/images/logoblack.png" alt="dark logo" />
    </span>
    <span class="logo-sm">
      <img src="/images/logoblack.png" alt="small logo" />
    </span>
  </a>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!---Sidemenu -->
    <ul class="side-nav">

      <li class="side-nav-title">Main</li>

      <li class="side-nav-item">
        <a href="/admin/projects" class="side-nav-link">
          <i class="ri-pages-line"></i>
          {{! <span class="badge bg-success float-end">9+</span> }}
          <span>Projects </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="/admin/interiors" class="side-nav-link">
          <i class="ri-pages-line"></i>
          {{! <span class="badge bg-success float-end">9+</span> }}
          <span>Commercial</span>
        </a>
      </li>
       <li class="side-nav-item">
        <a href="/admin/home-sliders" class="side-nav-link">
          <i class="ri-pages-line"></i>
          {{! <span class="badge bg-success float-end">9+</span> }}
          <span>Home Sliders</span>
        </a>
      </li>
    </ul>
    <!---End Sidemenu -->

    <div class="clearfix"></div>
  </div>
</div>