            <div id="footer_wrapper">
                <div class="standard_wrapper">

                    <div class="elementor elementor-2282">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section data-id="543dd7d" class="elementor-element elementor-element-543dd7d elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-row">
                                            <div data-id="07585a6" class="elementor-element elementor-element-07585a6 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div data-id="bdc7e35" class="elementor-element elementor-element-bdc7e35 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p><a href="about-us-3.html" data-wplink-url-error="true">About</a>
                                                                        <br><a href="portfolio-timeline-vertical.html" data-wplink-url-error="true">Portfolios</a>
                                                                        <br><a href="blog-grid-no-space.html" data-wplink-url-error="true">Blog</a>
                                                                        <br><a href="contact-3.html" data-wplink-url-error="true">Contact</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-id="4aee7e5" class="elementor-element elementor-element-4aee7e5 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div data-id="cf507bb" class="elementor-element elementor-element-cf507bb elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h4 class="elementor-heading-title elementor-size-default">Office Address</h4></div>
                                                        </div>
                                                        <div data-id="e4e73b4" class="elementor-element elementor-element-e4e73b4 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p>123 East 26th Street,
                                                                        <br>Fifth Floor,
                                                                        <br>New York, NY 10011
                                                                        <br><a href="mailto:hello@architecture.com">hello@architecture.com</a>
                                                                        <br>(212) 563-7765</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-id="954bf86" class="elementor-element elementor-element-954bf86 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div data-id="7fa5549" class="elementor-element elementor-element-7fa5549 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h4 class="elementor-heading-title elementor-size-default">Opening Hours</h4></div>
                                                        </div>
                                                        <div data-id="95727a1" class="elementor-element elementor-element-95727a1 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p>Monday — Closed
                                                                        <br>Tuesday — Friday 10am – 4pm
                                                                        <br>Saturday — Closed
                                                                        <br>Sunday — Closed</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-id="77109d6" class="elementor-element elementor-element-77109d6 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div data-id="68a84ab" class="elementor-element elementor-element-68a84ab elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h4 class="elementor-heading-title elementor-size-default">Social</h4></div>
                                                        </div>
                                                        <div data-id="b7eab1f" class="elementor-element elementor-element-b7eab1f elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p><a href="#">Facebook</a>
                                                                        <br><a href="#">Instagram</a>
                                                                        <br><a href="#">Houzz</a>
                                                                        <br><a href="#">Pinterest</a>
                                                                        <br><a href="#">LinkedIn</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-id="238d418" class="elementor-element elementor-element-238d418 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div data-id="749154f" class="elementor-element elementor-element-749154f elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h4 class="elementor-heading-title elementor-size-default">Philosophy</h4></div>
                                                        </div>
                                                        <div data-id="253688c" class="elementor-element elementor-element-253688c elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p>“Building your own home is about desire, fantasy. But it’s achievable anyone can do it.”</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bar   ">
                    <div class="footer_bar_wrapper ">
                        <div class="menu-main-menu-container">
                            <ul id="footer_menu" class="footer_nav">
                                <li class="menu-item"><a href="index.html.html">Home</a></li>
                                <li class="menu-item"><a href="vertical-parallax-slider.html">Slider</a></li>
                                <li class="menu-item"><a href="portfolio-list.html">Portfolio</a></li>
                                <li class="menu-item"><a href="about-us-1.html">Pages</a></li>
                                <li class="menu-item"><a href="gallery-fullscreen.html">Gallery</a></li>
                                <li class="menu-item"><a href="blog-grid.html">Blog</a></li>
                            </ul>
                        </div>
                        <div id="copyright">© Copyright Architecturer - Template by Max-Themes</div>
                        <br class="clear">
                    </div>
                </div>
            </div><a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
            <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1">
            <input type="hidden" id="tg_sidebar_sticky" name="tg_sidebar_sticky" value="1">
            <input type="hidden" id="pp_topbar" name="pp_topbar" value="">
        </div>