<!DOCTYPE html>
<html>
  <head>
    <title>Amr Architecturals</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="icon" href="/images/blacklogosm.png" sizes="32x32" />
    <link rel="icon" href="/images/logowhite.png" sizes="192x192" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
