





{{>userHead}}

<body data-rsssl="1" class="page-template-default page page-id-1956 woocommerce-no-js tg_lightbox_black leftalign tg_footer_reveal elementor-default elementor-page elementor-page-1956">
    <div id="perspective" style="">



        <div id="wrapper" >
               {{>userHeader}}
            <div id="page_content_wrapper" class="">
                <div class="inner">
                    <div class="inner_wrapper">
                        <div class="sidebar_content full_width">
                            <div class="elementor elementor-1529">
                                <div class="elementor-inner">
                                    <div class="elementor-section-wrap">
                                        <section data-id="d0e3b41" class="elementor-element elementor-element-d0e3b41 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="778c82d" class="elementor-element elementor-element-778c82d elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="c72fe7c" class="elementor-element elementor-element-c72fe7c animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Our Completed Projects</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="b01d954" class="elementor-element elementor-element-b01d954 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">We designed your space
                                                                            <br> for <span class="typed-me" data-string0="relaxing" data-string1="living" data-string2="working" data-string3="creating" data-type-speed="100" data-start-delay="0" data-backspeed="40" data-back-delay="1500" data-loop="1"></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="ed9c082" class="elementor-element elementor-element-ed9c082 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="c461939" class="elementor-element elementor-element-c461939 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="5c73521" class="elementor-element elementor-element-5c73521 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="e77e566" class="elementor-element elementor-element-e77e566 elementor-widget elementor-widget-photographer-gallery-horizontal" data-element_type="photographer-gallery-horizontal.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="tg_horizontal_gallery_wrapper" data-autoplay="0" data-loop="0" data-navigation="1" data-pagination="0" data-parallax="0" data-fullscreen="0">
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="images/projects/abd1.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="images/projects/abd2.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/kari-shea-580156-unsplash-683x1024.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/modern-interior-design-houses-small-cottage-plan-designs-cabin-ranch-house-interior-design-ranch-house-interior-design-boulder-co-1024x679.jpg" alt="" style="height:520px;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="e413eb9" class="elementor-element elementor-element-e413eb9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="b880cb5" class="elementor-element elementor-element-b880cb5 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="5c895e8" class="elementor-element elementor-element-5c895e8 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default"><a href="single-portfolio-5.html">Abdul Harif-Ponnani</a></h2></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="76f6757" class="elementor-element elementor-element-76f6757 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="012486b" class="elementor-element elementor-element-012486b elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        {{!-- <section data-id="02e9ab3" class="elementor-element elementor-element-02e9ab3 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="8689eb2" class="elementor-element elementor-element-8689eb2 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="fe35830" class="elementor-element elementor-element-fe35830 elementor-widget elementor-widget-photographer-gallery-horizontal" data-element_type="photographer-gallery-horizontal.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="tg_horizontal_gallery_wrapper" data-autoplay="0" data-loop="0" data-navigation="1" data-pagination="0" data-parallax="0" data-fullscreen="0">
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="images/projects/f1.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="images/projects/f2.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/Sleek-and-Modern-Interior-by-Marcelo-Mota-Arquitectura-3-1024x691.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/house-paarman-1-1024x614.jpg" alt="" style="height:520px;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="3bfa9c5" class="elementor-element elementor-element-3bfa9c5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="d979a6d" class="elementor-element elementor-element-d979a6d elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="8cc31ad" class="elementor-element elementor-element-8cc31ad elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default"><a href="single-portfolio-7.html">Residence - Muneer Calicut</a></h2></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="c2d20dd" class="elementor-element elementor-element-c2d20dd elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="ec7e86d" class="elementor-element elementor-element-ec7e86d elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section> --}}
                                        {{!-- <section data-id="37619ca" class="elementor-element elementor-element-37619ca elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="cea798b" class="elementor-element elementor-element-cea798b elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="461a49a" class="elementor-element elementor-element-461a49a elementor-widget elementor-widget-photographer-gallery-horizontal" data-element_type="photographer-gallery-horizontal.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="tg_horizontal_gallery_wrapper" data-autoplay="0" data-loop="0" data-navigation="1" data-pagination="0" data-parallax="0" data-fullscreen="0">
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/Hazukashi-House_3-1024x683.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/pixasquare-622732-unsplash-1024x1024.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/xModern-Eco-friendly-House-2.jpg.pagespeed.ic_.el4ZtL7FI9-1024x651.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/leibal_raft-left_dash-marshall_4-1024x683.jpg" alt="" style="height:520px;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="d368f9a" class="elementor-element elementor-element-d368f9a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="bb70d7b" class="elementor-element elementor-element-bb70d7b elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="5c53571" class="elementor-element elementor-element-5c53571 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default"><a href="single-portfolio-4.html">Riverside House</a></h2></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="89e024a" class="elementor-element elementor-element-89e024a elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="7740c16" class="elementor-element elementor-element-7740c16 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">London, UK</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section> --}}
                                        {{!-- <section data-id="a344161" class="elementor-element elementor-element-a344161 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="47b7474" class="elementor-element elementor-element-47b7474 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="5fbd676" class="elementor-element elementor-element-5fbd676 elementor-widget elementor-widget-photographer-gallery-horizontal" data-element_type="photographer-gallery-horizontal.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="tg_horizontal_gallery_wrapper" data-autoplay="0" data-loop="0" data-navigation="1" data-pagination="0" data-parallax="0" data-fullscreen="0">
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/minecraft-wood-and-stone-house-exterior-home-design-houzz-best-architecture-house-excerpt-nice-of-minecraft-wood-and-stone-house-1024x683.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/harprit-bola-239056-unsplash-1024x676.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/luca-bravo-207676-unsplash-1024x683.jpg" alt="" style="height:520px;"></div>
                                                                            <div class="tg_horizontal_gallery_cell" style="margin-right:0px">
                                                                                <img class="tg_horizontal_gallery_cell_img" data-flickity-lazyload="upload/suteki-home-kengo-kuma-portland_dezeen_2364_sq-1-1024x1024.jpg" alt="" style="height:520px;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section> --}}
                                        {{!-- <section data-id="9d19317" class="elementor-element elementor-element-9d19317 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="54524b4" class="elementor-element elementor-element-54524b4 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="6005472" class="elementor-element elementor-element-6005472 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default"><a href="single-portfolio-3.html">Modern Wood House</a></h2></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="4c5a088" class="elementor-element elementor-element-4c5a088 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="11e9ec5" class="elementor-element elementor-element-11e9ec5 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">Moscow, Rusia</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clear">
            </div>


        </div>
        <div id="footer_wrapper">
            <div class="standard_wrapper">

                <div class="elementor elementor-2282">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section data-id="543dd7d" class="elementor-element elementor-element-543dd7d elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div data-id="07585a6" class="elementor-element elementor-element-07585a6 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="bdc7e35" class="elementor-element elementor-element-bdc7e35 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p><a href="about-us-3.html" data-wplink-url-error="true">About</a>
                                                                    <br><a href="portfolio-timeline-vertical.html" data-wplink-url-error="true">Portfolios</a>
                                                                    <br><a href="blog-grid-no-space.html" data-wplink-url-error="true">Blog</a>
                                                                    <br><a href="contact-3.html" data-wplink-url-error="true">Contact</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="4aee7e5" class="elementor-element elementor-element-4aee7e5 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="cf507bb" class="elementor-element elementor-element-cf507bb elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Office Address</h4></div>
                                                    </div>
                                                    <div data-id="e4e73b4" class="elementor-element elementor-element-e4e73b4 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                    <p>AMR ARCHITECTURALS,
                                                                        <br>CASTLE ARCADE,
                                                                       1st FLOOR,
                                                                        <br>CHEMBAKA COLONY,
                                                                        <br>CHALAPURAM,
                                                                        CALICUT-02
                                                                        <br><a href="mailto:amrconstructions07@gmail.com">amrconstructions07@gmail.com</a>
                                                                        <br>+91-9895233323</p>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="954bf86" class="elementor-element elementor-element-954bf86 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="7fa5549" class="elementor-element elementor-element-7fa5549 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Opening Hours</h4></div>
                                                    </div>
                                                    <div data-id="95727a1" class="elementor-element elementor-element-95727a1 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>Monday — Closed
                                                                    <br>Tuesday — Friday 10am – 4pm
                                                                    <br>Saturday — Closed
                                                                    <br>Sunday — Closed</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="77109d6" class="elementor-element elementor-element-77109d6 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="68a84ab" class="elementor-element elementor-element-68a84ab elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Social</h4></div>
                                                    </div>
                                                    <div data-id="b7eab1f" class="elementor-element elementor-element-b7eab1f elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p><a href="#">Facebook</a>
                                                                    <br><a href="#">Instagram</a>
                                                                    <br><a href="#">Houzz</a>
                                                                    <br><a href="#">Pinterest</a>
                                                                    <br><a href="#">LinkedIn</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="238d418" class="elementor-element elementor-element-238d418 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="749154f" class="elementor-element elementor-element-749154f elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Philosophy</h4></div>
                                                    </div>
                                                    <div data-id="253688c" class="elementor-element elementor-element-253688c elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>“Building your own home is about desire, fantasy. But it’s achievable anyone can do it.”</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bar   ">
                <div class="footer_bar_wrapper ">
                    {{!-- <div class="menu-main-menu-container">
                        <ul id="footer_menu" class="footer_nav">
                            <li class="menu-item"><a href="index.html.html">Home</a></li>
                            <li class="menu-item"><a href="vertical-parallax-slider.html">Slider</a></li>
                            <li class="menu-item"><a href="portfolio-list.html">Portfolio</a></li>
                            <li class="menu-item"><a href="about-us-1.html">Pages</a></li>
                            <li class="menu-item"><a href="gallery-fullscreen.html">Gallery</a></li>
                            <li class="menu-item"><a href="blog-grid.html">Blog</a></li>
                        </ul>
                    </div> --}}
                   <div id="copyright">© Crafted By Tapclone</div>
                        <div id="copyright">© Copyright AMR Architecturals</div>
                    <br class="clear">
                </div>
            </div>
        </div><a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
        <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1">
        <input type="hidden" id="tg_sidebar_sticky" name="tg_sidebar_sticky" value="1">
        <input type="hidden" id="pp_topbar" name="pp_topbar" value="">
    </div>




    <script src="js/plugins/jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-migrate.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/core.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/widget.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/mouse.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/resizable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/draggable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/button.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/position.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/menu.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/imagesloaded.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/masonry.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.lazy.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/modulobox.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.fe.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.blockUI.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/js.cookie.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/effect.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/waypoints.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/tilt.jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.stellar.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom_plugins.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.sticky-kit.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.tooltipster.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/flickity.pkgd.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var tgAjax = {
            "ajaxurl": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-admin\/admin-ajax.php",
            "ajax_nonce": "8d4e4ec118"
        };
    </script>
    <script src="js/plugins/architecturer-elementor.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-numerator.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.cookie.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog-man.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/coffescript.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/swiper.jquery.min.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var elementorFrontendConfig = {
            "isEditMode": "",
            "is_rtl": "",
            "breakpoints": {
                "xs": 0,
                "sm": 480,
                "md": 768,
                "lg": 1025,
                "xl": 1440,
                "xxl": 1600
            },
            "version": "2.3.5",
            "urls": {
                "assets": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-content\/plugins\/elementor\/assets\/"
            },
            "settings": {
                "page": [],
                "general": {
                    "elementor_global_image_lightbox": "yes",
                    "elementor_enable_lightbox_in_editor": "yes"
                }
            },
            "post": {
                "id": 1877,
                "title": "Home 2",
                "excerpt": ""
            }
        };
    </script>
    <script src="js/plugins/frontend.min.js" defer="defer" type="text/javascript"></script>
</body>
</html>
