{{>userHead}}

<body data-rsssl="1" class="page-template-default page page-id-1956 woocommerce-no-js tg_lightbox_black leftalign tg_footer_reveal elementor-default elementor-page elementor-page-1956">
    <div id="perspective" style="">
<div id="wrapper" >
     {{>userHeader}}
            <div id="page_content_wrapper" class="">
                <div class="inner">
                    <div class="inner_wrapper">
                        <div class="sidebar_content full_width">
                            <div class="elementor elementor-922">
                                <div class="elementor-inner">
                                    <div class="elementor-section-wrap">
                                        <section data-id="03d703b" class="elementor-element elementor-element-03d703b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="15a1d3f" class="elementor-element elementor-element-15a1d3f elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="9396fbb" class="elementor-element elementor-element-9396fbb animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default">Contact</h2></div>
                                                                </div>
                                                                <div data-id="b472f5d" class="elementor-element elementor-element-b472f5d animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">We’d love to hear from you! Give us call, send us a message ?or find us on social media.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="1ce451f" class="elementor-element elementor-element-1ce451f elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="2663e62" class="elementor-element elementor-element-2663e62 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="ac1e584" class="elementor-element elementor-element-ac1e584 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="62495ec" class="elementor-element elementor-element-62495ec animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:600}" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <span class="elementor-heading-title elementor-size-default">Address</span></div>
                                                                </div>
                                                                <div data-id="6166055" class="elementor-element elementor-element-6166055 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:800}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Kozhikode,
                                                                                <br>Fifth Floor,
                                                                                <br>Kerala,673302</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="1866c52" class="elementor-element elementor-element-1866c52 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-spacer">
                                                                            <div class="elementor-spacer-inner"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="7ed6a58" class="elementor-element elementor-element-7ed6a58 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:1000}" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <span class="elementor-heading-title elementor-size-default">Openning Hours</span></div>
                                                                </div>
                                                                <div data-id="3328d16" class="elementor-element elementor-element-3328d16 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:1200}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Monday — Friday 9am – 5pm
                                                                                <br>Saturday — 11am – 4pm
                                                                                <br>Sunday — Closed</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="6ce1ffc" class="elementor-element elementor-element-6ce1ffc elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-spacer">
                                                                            <div class="elementor-spacer-inner"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="5b4049f" class="elementor-element elementor-element-5b4049f animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <span class="elementor-heading-title elementor-size-default">Email</span></div>
                                                                </div>
                                                                <div data-id="7dc9ab2" class="elementor-element elementor-element-7dc9ab2 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p><a href="mailto:hello@architecture.com">amrarchitecture@gmail.com</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="ad015f8" class="elementor-element elementor-element-ad015f8 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-spacer">
                                                                            <div class="elementor-spacer-inner"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="95eeb80" class="elementor-element elementor-element-95eeb80 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <span class="elementor-heading-title elementor-size-default">Phone</span></div>
                                                                </div>
                                                                <div data-id="cdec19a" class="elementor-element elementor-element-cdec19a animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>(91) 9852115488</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="3a85d0a" class="elementor-element elementor-element-3a85d0a elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-spacer">
                                                                            <div class="elementor-spacer-inner"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="4be0f5a" class="elementor-element elementor-element-4be0f5a animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <span class="elementor-heading-title elementor-size-default">Socials</span></div>
                                                                </div>
                                                                <div data-id="2ff6b01" class="elementor-element elementor-element-2ff6b01 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Facebook
                                                                                <br>Instagram
                                                                                <br>Houzz</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="9f66ae9" class="elementor-element elementor-element-9f66ae9 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="07fc180" class="elementor-element elementor-element-07fc180 animated fadeIn animated-fast elementor-invisible elementor-widget elementor-widget-image" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:800}" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img width="1024" height="683" src="images/contact.jpg" class="attachment-large size-large" alt="" style="max-width:100%;margin-bottom: 30px;"></div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="ab1857f" class="elementor-element elementor-element-ab1857f animated fadeIn animated-fast elementor-invisible elementor-widget elementor-widget-eb-google-map-extended" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-element_type="eb-google-map-extended.default">

                                                                <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=kozhikode&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://gachanox.io/">Gacha Nox Download</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></div>
                                        </section>
                                        <section data-id="c3664b5" class="elementor-element elementor-element-c3664b5 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="9f1b498" class="elementor-element elementor-element-9f1b498 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="7e46ff1" class="elementor-element elementor-element-7e46ff1 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default">Would you like to discuss a project?</h2></div>
                                                                </div>
                                                                <div data-id="6151dcf" class="elementor-element elementor-element-6151dcf elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">Are you interested in collaborating and working with us? Please don’t hesitate to contact us.</div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="7f988d3" class="elementor-element elementor-element-7f988d3 elementor-widget elementor-widget-shortcode" data-element_type="shortcode.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-shortcode">
                                                                            <div role="form" class="wpcf7" id="wpcf7-f5-p922-o1" lang="en-US" dir="ltr">
                                                                                <div class="screen-reader-response"></div>
                                                                                    <form class="quform" action="js/plugins/quform/process.php" method="post" enctype="multipart/form-data" onclick="">

                                                                                        <div class="quform-elements">
                                                                                            <div class="quform-element">
                                                                                                
                                                                                                    <br>
                                                                                                    <span class="wpcf7-form-control-wrap your-name">
                                                                                                        <input id="name" type="text" name="name" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="Name*">
                                                                                                    </span> 
                                                                                                
                                                                                            </div>
                                                                                            <div class="quform-element">
                                                                                                
                                                                                                    <br>
                                                                                                    <span class="wpcf7-form-control-wrap your-email">
                                                                                                        <input id="email" type="text" name="email" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="Email*">
                                                                                                    </span> 
                                                                                                
                                                                                            </div>
                                                                                            <div class="quform-element">
                                                                                                
                                                                                                    <br>
                                                                                                    <span class="wpcf7-form-control-wrap your-message">
                                                                                                        <textarea  id="message" name="message" cols="40" rows="10" class="input1" aria-invalid="false" placeholder="Message*"></textarea>
                                                                                                    </span>
                                                                                                
                                                                                            </div>
                                                                                            
                                                                                            <!-- Begin Submit button -->
                                                                                            <div class="quform-submit">
                                                                                                <div class="quform-submit-inner">
                                                                                                    <button type="submit" class="submit-button"><span>Send</span></button>
                                                                                                </div>
                                                                                                <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                                                            </div>
                                                                                            
                                                                                        </div>
                                                                                    </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="9923105" class="elementor-element elementor-element-9923105 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clear">
            </div>



        </div>
{{>userFooter}}






    <script src="js/plugins/jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-migrate.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/core.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/widget.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/mouse.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/resizable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/draggable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/button.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/position.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/menu.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/imagesloaded.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/masonry.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.lazy.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/modulobox.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.fe.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.blockUI.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/js.cookie.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/effect.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/waypoints.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/tilt.jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.stellar.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom_plugins.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.sticky-kit.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.tooltipster.min.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var tgAjax = {
            "ajaxurl": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-admin\/admin-ajax.php",
            "ajax_nonce": "8d4e4ec118"
        };
    </script>
    <script src="js/plugins/architecturer-elementor.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-numerator.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.cookie.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog-man.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/coffescript.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/swiper.jquery.min.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var elementorFrontendConfig = {
            "isEditMode": "",
            "is_rtl": "",
            "breakpoints": {
                "xs": 0,
                "sm": 480,
                "md": 768,
                "lg": 1025,
                "xl": 1440,
                "xxl": 1600
            },
            "version": "2.3.5",
            "urls": {
                "assets": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-content\/plugins\/elementor\/assets\/"
            },
            "settings": {
                "page": [],
                "general": {
                    "elementor_global_image_lightbox": "yes",
                    "elementor_enable_lightbox_in_editor": "yes"
                }
            },
            "post": {
                "id": 1877,
                "title": "Home 2",
                "excerpt": ""
            }
        };
    </script>
    <script src="js/plugins/frontend.min.js" defer="defer" type="text/javascript"></script>

    <script src="js/plugins/quform/js/plugins.js"></script>
    <script src="js/plugins/quform/js/scripts.js"></script>  
</body>
</html>
