{{>userHead}}

<body data-rsssl="1" class="page-template-default page page-id-1956 woocommerce-no-js tg_lightbox_black leftalign tg_footer_reveal elementor-default elementor-page elementor-page-1956">
    <div id="perspective" style="">
        <div id="wrapper" class="hasbg transparent">
           {{>userHeader}}
            <div id="page_content_wrapper" class="">
                <div class="inner">
                    <div class="inner_wrapper">
                        <div class="sidebar_content full_width">
                            <div class="elementor elementor-246">
                                <div class="elementor-inner">
                                    <div class="elementor-section-wrap">
                                        <section data-id="f98a0f1" class="elementor-element elementor-element-f98a0f1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="4c57e78" class="elementor-element elementor-element-4c57e78 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="3346963" class="elementor-element elementor-element-3346963 elementor-widget elementor-widget-photographer-gallery-fullscreen" data-element_type="photographer-gallery-fullscreen.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="swiper-container tg_fullscreen_gallery_wrapper">
                                                                            <div class="tg_fullscreen_gallery" data-effect="fade" data-speed="800">
                                                                                <div class="swiper-wrapper">
                                                                                    <div class="swiper-slide" style="background-image:url(upload/PettitSevitt_MkV_Ext_Entrance.jpg);background-size:cover"></div>
                                                                                    <div class="swiper-slide" style="background-image:url(upload/xModern-Eco-friendly-House-2.jpg.pagespeed.ic_.el4ZtL7FI9.jpg);background-size:cover"></div>
                                                                                    <div class="swiper-slide" style="background-image:url(upload/modern-wood-house-1.jpg);background-size:cover"></div>
                                                                                    <div class="swiper-slide" style="background-image:url(upload/Mid-Century-Modern-10.-Matt-Gibson.jpg);background-size:cover"></div>
                                                                                    <div class="swiper-slide" style="background-image:url(upload/minecraft-wood-and-stone-house-exterior-home-design-houzz-best-architecture-house-excerpt-nice-of-minecraft-wood-and-stone-house.jpg);background-size:cover"></div>
                                                                                </div>
                                                                                <div class="swiper-button-next swiper-button-white hover"><i class="fa fa-angle-right" style="color:#ffffff"></i></div>
                                                                                <div class="swiper-button-prev swiper-button-white hover"><i class="fa fa-angle-left" style="color:#ffffff"></i></div>
                                                                            </div>
                                                                            <div class="gallery_thumbs" style="display: none;">
                                                                                <div class="swiper-wrapper" style="display: none;">
                                                                                    <div class="swiper-slide" style="display: none;"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clear">
            </div>


        </div>
        <div id="footer_wrapper">
            <div class="standard_wrapper">

                <div class="elementor elementor-2282">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section data-id="543dd7d" class="elementor-element elementor-element-543dd7d elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div data-id="07585a6" class="elementor-element elementor-element-07585a6 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="bdc7e35" class="elementor-element elementor-element-bdc7e35 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p><a href="about-us-3.html" data-wplink-url-error="true">About</a>
                                                                    <br><a href="portfolio-timeline-vertical.html" data-wplink-url-error="true">Portfolios</a>
                                                                    <br><a href="blog-grid-no-space.html" data-wplink-url-error="true">Blog</a>
                                                                    <br><a href="contact-3.html" data-wplink-url-error="true">Contact</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="4aee7e5" class="elementor-element elementor-element-4aee7e5 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="cf507bb" class="elementor-element elementor-element-cf507bb elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Office Address</h4></div>
                                                    </div>
                                                    <div data-id="e4e73b4" class="elementor-element elementor-element-e4e73b4 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>123 East 26th Street,
                                                                    <br>Fifth Floor,
                                                                    <br>New York, NY 10011
                                                                    <br><a href="mailto:hello@architecture.com">hello@architecture.com</a>
                                                                    <br>(212) 563-7765</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="954bf86" class="elementor-element elementor-element-954bf86 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="7fa5549" class="elementor-element elementor-element-7fa5549 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Opening Hours</h4></div>
                                                    </div>
                                                    <div data-id="95727a1" class="elementor-element elementor-element-95727a1 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>Monday — Closed
                                                                    <br>Tuesday — Friday 10am – 4pm
                                                                    <br>Saturday — Closed
                                                                    <br>Sunday — Closed</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="77109d6" class="elementor-element elementor-element-77109d6 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="68a84ab" class="elementor-element elementor-element-68a84ab elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Social</h4></div>
                                                    </div>
                                                    <div data-id="b7eab1f" class="elementor-element elementor-element-b7eab1f elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p><a href="#">Facebook</a>
                                                                    <br><a href="#">Instagram</a>
                                                                    <br><a href="#">Houzz</a>
                                                                    <br><a href="#">Pinterest</a>
                                                                    <br><a href="#">LinkedIn</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="238d418" class="elementor-element elementor-element-238d418 elementor-column elementor-col-20 elementor-top-column" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="749154f" class="elementor-element elementor-element-749154f elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Philosophy</h4></div>
                                                    </div>
                                                    <div data-id="253688c" class="elementor-element elementor-element-253688c elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>“Building your own home is about desire, fantasy. But it’s achievable anyone can do it.”</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            {{>userFooter}}
        </div><a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
        <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1">
        <input type="hidden" id="tg_sidebar_sticky" name="tg_sidebar_sticky" value="1">
        <input type="hidden" id="pp_topbar" name="pp_topbar" value="">
    </div>




    <script src="js/plugins/jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-migrate.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/core.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/widget.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/mouse.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/resizable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/draggable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/button.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/position.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/menu.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/imagesloaded.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/masonry.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.lazy.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/modulobox.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.fe.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.blockUI.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/js.cookie.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/effect.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/waypoints.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/tilt.jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.stellar.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom_plugins.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.sticky-kit.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.tooltipster.min.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var tgAjax = {
            "ajaxurl": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-admin\/admin-ajax.php",
            "ajax_nonce": "8d4e4ec118"
        };
    </script>
    <script src="js/plugins/architecturer-elementor.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-numerator.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.cookie.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog-man.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/coffescript.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/swiper.jquery.min.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var elementorFrontendConfig = {
            "isEditMode": "",
            "is_rtl": "",
            "breakpoints": {
                "xs": 0,
                "sm": 480,
                "md": 768,
                "lg": 1025,
                "xl": 1440,
                "xxl": 1600
            },
            "version": "2.3.5",
            "urls": {
                "assets": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-content\/plugins\/elementor\/assets\/"
            },
            "settings": {
                "page": [],
                "general": {
                    "elementor_global_image_lightbox": "yes",
                    "elementor_enable_lightbox_in_editor": "yes"
                }
            },
            "post": {
                "id": 1877,
                "title": "Home 2",
                "excerpt": ""
            }
        };
    </script>
    <script src="js/plugins/frontend.min.js" defer="defer" type="text/javascript"></script>
</body>
</html>
