<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">

<head>

    <link type="text/css" media="all" href="css/style.css" rel="stylesheet">
    <link type="text/css" media="only screen and (max-width: 768px)" href="css/responsive.css" rel="stylesheet">

    <title>Architecturer | Interior Design &amp; Architecture Html Template</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">



    <link rel="icon" href="upload/TG-Thumb.png" sizes="32x32">
    <link rel="icon" href="upload/TG-Thumb.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="upload/TG-Thumb.png">


</head>
<body data-rsssl="1"
    class="home page-template-default page page-id-1824 woocommerce-no-js tg_menu_transparent tg_lightbox_black leftalign tg_footer_reveal elementor-default elementor-page elementor-page-1824">
    <div id="perspective" style="">
        <div id="wrapper" class="hasbg transparent">
            {{>userHeader}}
            <div id="page_content_wrapper" class="">
                <div class="inner">
                <div class="inner_wrapper">
                        <div class="sidebar_content full_width">
                            <div class="elementor elementor-2006">
                                <div class="elementor-inner">
                                    <div class="elementor-section-wrap">
                                        <section data-id="e9ab6c8"
                                            class="elementor-element elementor-element-e9ab6c8 elementor-section-stretched elementor-section-height-min-height elementor-section-content-top elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section"
                                            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}"
                                            style="background-image:url(images/1c.jpg);" data-element_type="section">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="4e5203f"
                                                        class="elementor-element elementor-element-4e5203f elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="c251703"
                                                                    class="elementor-element elementor-element-c251703 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                                                    data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1
                                                                            class="elementor-heading-title elementor-size-default">
                                                                            <a href="single-portfolio-2.html">Black
                                                                                Steel House</a></h1>
                                                                    </div>
                                                                </div>
                                                                <div data-id="7ffb57e"
                                                                    class="elementor-element elementor-element-7ffb57e animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:400}"
                                                                    data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div
                                                                            class="elementor-text-editor elementor-clearfix">
                                                                            <p>May 2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="e9ab6c8"
                                            class="elementor-element elementor-element-e9ab6c8 elementor-section-stretched elementor-section-height-min-height elementor-section-content-top elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section"
                                            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}"
                                            style="background-image:url(images/2c.jpg);" data-element_type="section">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="4e5203f"
                                                        class="elementor-element elementor-element-4e5203f elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="c251703"
                                                                    class="elementor-element elementor-element-c251703 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                                                    data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1
                                                                            class="elementor-heading-title elementor-size-default">
                                                                            <a href="single-portfolio-2.html">Black
                                                                                Steel House</a></h1>
                                                                    </div>
                                                                </div>
                                                                <div data-id="7ffb57e"
                                                                    class="elementor-element elementor-element-7ffb57e animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:400}"
                                                                    data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div
                                                                            class="elementor-text-editor elementor-clearfix">
                                                                            <p>May 2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="e9ab6c8"
                                            class="elementor-element elementor-element-e9ab6c8 elementor-section-stretched elementor-section-height-min-height elementor-section-content-top elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section"
                                            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}"
                                            style="background-image:url(images/3c.jpg);" data-element_type="section">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="4e5203f"
                                                        class="elementor-element elementor-element-4e5203f elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="c251703"
                                                                    class="elementor-element elementor-element-c251703 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                                                    data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1
                                                                            class="elementor-heading-title elementor-size-default">
                                                                            <a href="single-portfolio-2.html">Black
                                                                                Steel House</a></h1>
                                                                    </div>
                                                                </div>
                                                                <div data-id="7ffb57e"
                                                                    class="elementor-element elementor-element-7ffb57e animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:400}"
                                                                    data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div
                                                                            class="elementor-text-editor elementor-clearfix">
                                                                            <p>May 2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="e9ab6c8"
                                            class="elementor-element elementor-element-e9ab6c8 elementor-section-stretched elementor-section-height-min-height elementor-section-content-top elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section"
                                            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}"
                                            style="background-image:url(images/4c.jpg);" data-element_type="section">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="4e5203f"
                                                        class="elementor-element elementor-element-4e5203f elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="c251703"
                                                                    class="elementor-element elementor-element-c251703 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                                                    data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1
                                                                            class="elementor-heading-title elementor-size-default">
                                                                            <a href="single-portfolio-2.html">Black
                                                                                Steel House</a></h1>
                                                                    </div>
                                                                </div>
                                                                <div data-id="7ffb57e"
                                                                    class="elementor-element elementor-element-7ffb57e animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:400}"
                                                                    data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div
                                                                            class="elementor-text-editor elementor-clearfix">
                                                                            <p>May 2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="39f0944"
                                            class="elementor-element elementor-element-39f0944 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                            data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="c892137"
                                                        class="elementor-element elementor-element-c892137 elementor-column elementor-col-50 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="cb6c3b9"
                                                                    class="elementor-element elementor-element-cb6c3b9 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                                                    data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div
                                                                            class="elementor-text-editor elementor-clearfix">
                                                                            <p>Our Projects</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="fd2657e"
                                                                    class="elementor-element elementor-element-fd2657e animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}"
                                                                    data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1
                                                                            class="elementor-heading-title elementor-size-default">
                                                                            Our projects are examples of attitudes
                                                                            rather than designs.</h1>
                                                                    </div>
                                                                </div>
                                                                <div data-id="4ce9557"
                                                                    class="elementor-element elementor-element-4ce9557 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:400}"
                                                                    data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div
                                                                            class="elementor-text-editor elementor-clearfix">
                                                                            <p><span style="font-size: 16px;">Craft beer
                                                                                    elit seitan exercitation, photo
                                                                                    booth et 8-bit kale chips proident
                                                                                    chillwave deep v laborum. Aliquip
                                                                                    veniam delectus, Marfa eiusmod
                                                                                    Pinterest in do umami readymade
                                                                                    swag. Selfies iPhone Kickstarter,
                                                                                    drinking vinegar jean vinegar
                                                                                    stumptown yr pop-up artisan.</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="0b3b1e5"
                                                        class="elementor-element elementor-element-0b3b1e5 elementor-column elementor-col-50 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="0a91dc5"
                                            class="elementor-element elementor-element-0a91dc5 animated fadeIn animated-fast elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-top-section"
                                            data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}"
                                            data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="637dfeb"
                                                        class="elementor-element elementor-element-637dfeb elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="9c990c9"
                                                                    class="elementor-element elementor-element-9c990c9 animated fadeIn animated-fast elementor-invisible elementor-widget elementor-widget-architecturer-portfolio-classic"
                                                                    data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:600}"
                                                                    data-element_type="architecturer-portfolio-classic.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="portfolio_classic_container">
                                                                            <div class="portfolio_classic_content_wrapper portfolio_classic layout_tg_two_cols "
                                                                                data-cols="2">
                                                                                <div
                                                                                    class="portfolio_classic_grid_wrapper tg_two_cols   portfolio-1 tile scale-anm Architecture all no_filter">
                                                                                    <div class="portfolio_classic_img">
                                                                                        <img src="/images/1c2.jpg"
                                                                                            alt="">
                                                                                        <div>
                                                                                            <span
                                                                                                class="ti-arrow-right"></span>
                                                                                            <div class="curl"></div>
                                                                                            <a
                                                                                                href="single-portfolio-6.html"></a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <br class="clear">
                                                                                    <div
                                                                                        class="portfolio_classic_content">
                                                                                        <h3
                                                                                            class="portfolio_classic_title">
                                                                                            <a
                                                                                                href="single-portfolio-6.html">Xiami
                                                                                                Office Building</a></h3>
                                                                                        <div
                                                                                            class="portfolio_classic_subtitle">
                                                                                            July 2018</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="portfolio_classic_grid_wrapper tg_two_cols last  portfolio-2 tile scale-anm Interior all no_filter">
                                                                                    <div class="portfolio_classic_img">
                                                                                        <img src="/images/2c2.jpg"
                                                                                            alt="">
                                                                                        <div>
                                                                                            <span
                                                                                                class="ti-arrow-right"></span>
                                                                                            <div class="curl"></div>
                                                                                            <a
                                                                                                href="single-portfolio-5.html"></a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <br class="clear">
                                                                                    <div
                                                                                        class="portfolio_classic_content">
                                                                                        <h3
                                                                                            class="portfolio_classic_title">
                                                                                            <a
                                                                                                href="single-portfolio-5.html">Contemporary
                                                                                                Modern House</a></h3>
                                                                                        <div
                                                                                            class="portfolio_classic_subtitle">
                                                                                            May 2018</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="portfolio_classic_grid_wrapper tg_two_cols   portfolio-3 tile scale-anm Architecture all no_filter">
                                                                                    <div class="portfolio_classic_img">
                                                                                        <img src="/images/3c2.jpg"
                                                                                            alt="">
                                                                                        <div>
                                                                                            <span
                                                                                                class="ti-arrow-right"></span>
                                                                                            <div class="curl"></div>
                                                                                            <a
                                                                                                href="single-portfolio-4.html"></a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <br class="clear">
                                                                                    <div
                                                                                        class="portfolio_classic_content">
                                                                                        <h3
                                                                                            class="portfolio_classic_title">
                                                                                            <a
                                                                                                href="single-portfolio-4.html">Elegant
                                                                                                Brick House</a></h3>
                                                                                        <div
                                                                                            class="portfolio_classic_subtitle">
                                                                                            May 2018</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="portfolio_classic_grid_wrapper tg_two_cols last  portfolio-4 tile scale-anm Landscape all no_filter">
                                                                                    <div class="portfolio_classic_img">
                                                                                        <img src="/images/4c2.jpg"
                                                                                            alt="">
                                                                                        <div>
                                                                                            <span
                                                                                                class="ti-arrow-right"></span>
                                                                                            <div class="curl"></div>
                                                                                            <a
                                                                                                href="single-portfolio-3.html"></a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <br class="clear">
                                                                                    <div
                                                                                        class="portfolio_classic_content">
                                                                                        <h3
                                                                                            class="portfolio_classic_title">
                                                                                            <a
                                                                                                href="single-portfolio-3.html">Cultural
                                                                                                Center</a></h3>
                                                                                        <div
                                                                                            class="portfolio_classic_subtitle">
                                                                                            May 2018</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="portfolio_classic_grid_wrapper tg_two_cols   portfolio-5 tile scale-anm Interior all no_filter">
                                                                                    <div class="portfolio_classic_img">
                                                                                        <img src="/images/5c2.jpg"
                                                                                            alt="">
                                                                                        <div>
                                                                                            <span
                                                                                                class="ti-arrow-right"></span>
                                                                                            <div class="curl"></div>
                                                                                            <a
                                                                                                href="single-portfolio-6.html"></a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <br class="clear">
                                                                                    <div
                                                                                        class="portfolio_classic_content">
                                                                                        <h3
                                                                                            class="portfolio_classic_title">
                                                                                            <a
                                                                                                href="single-portfolio-6.html">Modern
                                                                                                Minimalist House</a>
                                                                                        </h3>
                                                                                        <div
                                                                                            class="portfolio_classic_subtitle">
                                                                                            June 2017</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="portfolio_classic_grid_wrapper tg_two_cols last  portfolio-6 tile scale-anm Architecture all no_filter">
                                                                                    <div class="portfolio_classic_img">
                                                                                        <img src="/images/6c2.jpg"
                                                                                            alt="">
                                                                                        <div>
                                                                                            <span
                                                                                                class="ti-arrow-right"></span>
                                                                                            <div class="curl"></div>
                                                                                            <a
                                                                                                href="single-portfolio-5.html"></a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <br class="clear">
                                                                                    <div
                                                                                        class="portfolio_classic_content">
                                                                                        <h3
                                                                                            class="portfolio_classic_title">
                                                                                            <a
                                                                                                href="single-portfolio-5.html">Rustic
                                                                                                Steel House</a></h3>
                                                                                        <div
                                                                                            class="portfolio_classic_subtitle">
                                                                                            August 2017</div>
                                                                                    </div>
                                                                                </div>
                                                                                <br class="clear">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        {{!-- <section data-id="031ea69"
                                            class="elementor-element elementor-element-031ea69 elementor-section-content-middle newsletter_box elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                            data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="2f6be73"
                                                        class="elementor-element elementor-element-2f6be73 elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <section data-id="8b06dc4"
                                                                    class="elementor-element elementor-element-8b06dc4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                                    data-element_type="section">
                                                                    <div
                                                                        class="elementor-container elementor-column-gap-wider">
                                                                        <div class="elementor-row">
                                                                            <div data-id="773b9bc"
                                                                                class="elementor-element elementor-element-773b9bc elementor-column elementor-col-33 elementor-inner-column"
                                                                                data-element_type="column">
                                                                                <div
                                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div data-id="94a6034"
                                                                                            class="elementor-element elementor-element-94a6034 elementor-widget elementor-widget-heading"
                                                                                            data-element_type="heading.default">
                                                                                            <div
                                                                                                class="elementor-widget-container">
                                                                                                <h2
                                                                                                    class="elementor-heading-title elementor-size-default">
                                                                                                    Sign up for our
                                                                                                    Newsletter</h2>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div data-id="47831bc"
                                                                                            class="elementor-element elementor-element-47831bc elementor-widget elementor-widget-text-editor"
                                                                                            data-element_type="text-editor.default">
                                                                                            <div
                                                                                                class="elementor-widget-container">
                                                                                                <div
                                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                                    <p class="p1">Stay
                                                                                                        up to
                                                                                                        date on exciting
                                                                                                        projects
                                                                                                        and upcoming
                                                                                                        events from
                                                                                                        Architecturer
                                                                                                        Studio.</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div data-id="8dbdb54"
                                                                                class="elementor-element elementor-element-8dbdb54 elementor-column elementor-col-66 elementor-inner-column"
                                                                                data-element_type="column">
                                                                                <div
                                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div data-id="6b15a52"
                                                                                            class="elementor-element elementor-element-6b15a52 elementor-widget elementor-widget-shortcode"
                                                                                            data-element_type="shortcode.default">
                                                                                            <div
                                                                                                class="elementor-widget-container">
                                                                                                <div
                                                                                                    class="elementor-shortcode">

                                                                                                    <form
                                                                                                        id="mc4wp-form-1"
                                                                                                        class="mc4wp-form mc4wp-form-57"
                                                                                                        method="post"
                                                                                                        data-id="57"
                                                                                                        data-name="Sidebar Newsletter">
                                                                                                        <div
                                                                                                            class="mc4wp-form-fields">
                                                                                                            <p
                                                                                                                class="newsletter_notice">
                                                                                                                Don't
                                                                                                                miss a
                                                                                                                thing!
                                                                                                                Sign up
                                                                                                                to
                                                                                                                receive
                                                                                                                daily
                                                                                                                news</p>
                                                                                                            <p
                                                                                                                class="input_wrapper">
                                                                                                                <input
                                                                                                                    type="email"
                                                                                                                    name="email"
                                                                                                                    required=""
                                                                                                                    placeholder="Your Email"
                                                                                                                    class="input_effect" />
                                                                                                                <span
                                                                                                                    class="focus-border"></span>
                                                                                                            </p>
                                                                                                            <input
                                                                                                                type="submit"
                                                                                                                value="Sign up" />
                                                                                                        </div>
                                                                                                        <label
                                                                                                            style="display: none !important;">Leave
                                                                                                            this field
                                                                                                            empty if
                                                                                                            you're
                                                                                                            human:
                                                                                                            <input
                                                                                                                type="text"
                                                                                                                name="_mc4wp_honeypot"
                                                                                                                value=""
                                                                                                                tabindex="-1"
                                                                                                                autocomplete="off" />
                                                                                                        </label>

                                                                                                    </form>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clear" />
            </div>

        </div>
        <div id="footer_wrapper">
            <div class="standard_wrapper">

                <div class="elementor elementor-2282">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section data-id="543dd7d"
                                class="elementor-element elementor-element-543dd7d elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}"
                                data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div data-id="07585a6"
                                            class="elementor-element elementor-element-07585a6 elementor-column elementor-col-20 elementor-top-column"
                                            data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="bdc7e35"
                                                        class="elementor-element elementor-element-bdc7e35 elementor-widget elementor-widget-text-editor"
                                                        data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p><a href="about-us-3.html"
                                                                        data-wplink-url-error="true">About</a>
                                                                    <br /><a href="portfolio-timeline-vertical.html"
                                                                        data-wplink-url-error="true">Portfolios</a>
                                                                    <br /><a href="blog-grid-no-space.html"
                                                                        data-wplink-url-error="true">Blog</a>
                                                                    <br /><a href="contact-3.html"
                                                                        data-wplink-url-error="true">Contact</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="4aee7e5"
                                            class="elementor-element elementor-element-4aee7e5 elementor-column elementor-col-20 elementor-top-column"
                                            data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="cf507bb"
                                                        class="elementor-element elementor-element-cf507bb elementor-widget elementor-widget-heading"
                                                        data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">
                                                                Office Address</h4>
                                                        </div>
                                                    </div>
                                                    <div data-id="e4e73b4"
                                                        class="elementor-element elementor-element-e4e73b4 elementor-widget elementor-widget-text-editor"
                                                        data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>123 East 26th Street,
                                                                    <br />Fifth Floor,
                                                                    <br />New York, NY 10011
                                                                    <br /><a
                                                                        href="mailto:hello@architecture.com">hello@architecture.com</a>
                                                                    <br />(212) 563-7765
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="954bf86"
                                            class="elementor-element elementor-element-954bf86 elementor-column elementor-col-20 elementor-top-column"
                                            data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="7fa5549"
                                                        class="elementor-element elementor-element-7fa5549 elementor-widget elementor-widget-heading"
                                                        data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">
                                                                Opening Hours</h4>
                                                        </div>
                                                    </div>
                                                    <div data-id="95727a1"
                                                        class="elementor-element elementor-element-95727a1 elementor-widget elementor-widget-text-editor"
                                                        data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>Monday — Closed
                                                                    <br />Tuesday — Friday 10am – 4pm
                                                                    <br />Saturday — Closed
                                                                    <br />Sunday — Closed
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="77109d6"
                                            class="elementor-element elementor-element-77109d6 elementor-column elementor-col-20 elementor-top-column"
                                            data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="68a84ab"
                                                        class="elementor-element elementor-element-68a84ab elementor-widget elementor-widget-heading"
                                                        data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">
                                                                Social</h4>
                                                        </div>
                                                    </div>
                                                    <div data-id="b7eab1f"
                                                        class="elementor-element elementor-element-b7eab1f elementor-widget elementor-widget-text-editor"
                                                        data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p><a href="#">Facebook</a>
                                                                    <br /><a href="#">Instagram</a>
                                                                    <br /><a href="#">Houzz</a>
                                                                    <br /><a href="#">Pinterest</a>
                                                                    <br /><a href="#">LinkedIn</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="238d418"
                                            class="elementor-element elementor-element-238d418 elementor-column elementor-col-20 elementor-top-column"
                                            data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div data-id="749154f"
                                                        class="elementor-element elementor-element-749154f elementor-widget elementor-widget-heading"
                                                        data-element_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">
                                                                Philosophy</h4>
                                                        </div>
                                                    </div>
                                                    <div data-id="253688c"
                                                        class="elementor-element elementor-element-253688c elementor-widget elementor-widget-text-editor"
                                                        data-element_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>“Building your own home is about desire,
                                                                    fantasy. But it’s achievable anyone can do
                                                                    it.”</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bar">
                <div class="footer_bar_wrapper">
                    <div class="menu-main-menu-container">
                        <ul id="footer_menu" class="footer_nav">
                            <li class="menu-item"><a href="index.html.html">Home</a></li>
                            <li class="menu-item"><a href="vertical-parallax-slider.html">Slider</a></li>
                            <li class="menu-item"><a href="portfolio-list.html">Portfolio</a></li>
                            <li class="menu-item"><a href="about-us-1.html">Pages</a></li>
                            <li class="menu-item"><a href="gallery-fullscreen.html">Gallery</a></li>
                            <li class="menu-item"><a href="blog-grid.html">Blog</a></li>
                        </ul>
                    </div>
                    <div id="copyright">© Copyright Architecturer - Template by
                        Max-Themes</div>
                    <br class="clear" />
                </div>
            </div>
        </div><a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
        <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1" />
        <input type="hidden" id="tg_sidebar_sticky" name="tg_sidebar_sticky" value="1" />
        <input type="hidden" id="pp_topbar" name="pp_topbar" value="" />
    </div>

    <script src="js/plugins/jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-migrate.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/core.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/widget.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/mouse.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/resizable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/draggable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/button.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/position.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/menu.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/imagesloaded.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/masonry.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.lazy.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/modulobox.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.fe.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.blockUI.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/js.cookie.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/effect.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/waypoints.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/tilt.jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.stellar.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom_plugins.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.sticky-kit.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.tooltipster.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/three.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/tweenmax.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/hover.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/anime.min.js" defer="defer" type="text/javascript"></script>
    <script type="text/javascript">
        var tgAjax = {
            "ajaxurl":
                "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-admin\/admin-ajax.php",
            "ajax_nonce": "8d4e4ec118"
        };
    </script>
    <script src="js/plugins/architecturer-elementor.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-numerator.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.cookie.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog-man.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/coffescript.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/swiper.jquery.min.js" defer="defer" type="text/javascript"></script>
    <script type="text/javascript">
        var elementorFrontendConfig = {
            "isEditMode": "", "is_rtl": "",
            "breakpoints": {
                "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440,
                "xxl": 1600
            }, "version": "2.3.5", "urls": {
                "assets":
                    "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-content\/plugins\/elementor\/assets\/"
            }, "settings": {
                "page": [], "general": {
                    "elementor_global_image_lightbox": "yes",
                    "elementor_enable_lightbox_in_editor": "yes"
                }
            }, "post": {
                "id": 1877,
                "title": "Home 2", "excerpt": ""
            }
        };
    </script>
    <script src="js/plugins/frontend.min.js" defer="defer" type="text/javascript"></script>
</body>

</html>