{{>userHead}}
<body data-rsssl="1" class="page-template-default page page-id-1956 woocommerce-no-js tg_lightbox_black leftalign tg_footer_reveal elementor-default elementor-page elementor-page-1956">
    <div id="perspective" style="">
    <div id="wrapper" style="padding-top: 0px;" >
{{>userHeader}}
            <div id="page_content_wrapper" class="">
                <div class="inner">
                    <div class="inner_wrapper">
                        <div class="sidebar_content full_width">
                            <div class="elementor elementor-1370">
                                <div class="elementor-inner">
                                    <div class="elementor-section-wrap">
                                        <section data-id="cf749c9" class="elementor-element elementor-element-cf749c9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="4e68a30" class="elementor-element elementor-element-4e68a30 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="bb862a7" class="elementor-element elementor-element-bb862a7 animated fadeInUp animated-fast elementor-invisible elementor-widget elementor-widget-heading" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1 class="elementor-heading-title elementor-size-default">Portfolio List</h1></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="58d9592" class="elementor-element elementor-element-58d9592 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="395555b" class="elementor-element elementor-element-395555b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="6b5759e" class="elementor-element elementor-element-6b5759e elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="ae29ed0" class="elementor-element elementor-element-ae29ed0 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="single-portfolio-1.html" data-elementor-open-lightbox="">
                                                                                <img width="1024" height="721" src="images/projects/out1.jpg" class="elementor-animation-shrink attachment-large size-large" alt="" > </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="3e3ad61" class="elementor-element elementor-element-3e3ad61 stellar elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="639f025" class="elementor-element elementor-element-639f025 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-default">Apartment - Shereef Calicut</h3></div>
                                                                </div>
                                                                <div data-id="7f085bc" class="elementor-element elementor-element-7f085bc elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">July 2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="52218f6" class="elementor-element elementor-element-52218f6 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="8513e14" class="elementor-element elementor-element-8513e14 elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="single-portfolio-1.html" class="elementor-button-link elementor-button elementor-size-xl elementor-animation-bob" role="button">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text"><span class="ti-arrow-right"></span></span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="c61379b" class="elementor-element elementor-element-c61379b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="763078d" class="elementor-element elementor-element-763078d stellar elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="e90ad16" class="elementor-element elementor-element-e90ad16 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-default">Residence - Muneer Calicut</h3></div>
                                                                </div>
                                                                <div data-id="596d2c5" class="elementor-element elementor-element-596d2c5 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">March 2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="c477f9b" class="elementor-element elementor-element-c477f9b elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean vinegar stumptown yr pop-up artisan.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="f053ba2" class="elementor-element elementor-element-f053ba2 elementor-align-right elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="single-portfolio-2.html" class="elementor-button-link elementor-button elementor-size-xl elementor-animation-bob" role="button">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text"><span class="ti-arrow-right"></span></span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="6ea62ff" class="elementor-element elementor-element-6ea62ff elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="b14f462" class="elementor-element elementor-element-b14f462 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="single-portfolio-2.html" data-elementor-open-lightbox="">
                                                                                <img width="1024" height="676" src="images/projects/f1.jpg" class="elementor-animation-shrink attachment-large size-large" alt="" > </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        {{!-- <section data-id="cec9f95" class="elementor-element elementor-element-cec9f95 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="33f590b" class="elementor-element elementor-element-33f590b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="2d99317" class="elementor-element elementor-element-2d99317 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="single-portfolio-3.html" data-elementor-open-lightbox="">
                                                                                <img width="1024" height="1024" src="upload/pixasquare-622732-unsplash-1024x1024.jpg" class="elementor-animation-shrink attachment-large size-large" alt="" > </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="ffaf07f" class="elementor-element elementor-element-ffaf07f stellar elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="b90c07c" class="elementor-element elementor-element-b90c07c elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-default">White Blocks House</h3></div>
                                                                </div>
                                                                <div data-id="95e146b" class="elementor-element elementor-element-95e146b elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">January 2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="149889f" class="elementor-element elementor-element-149889f elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et magnis</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="c8418f9" class="elementor-element elementor-element-c8418f9 elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="single-portfolio-3.html" class="elementor-button-link elementor-button elementor-size-xl elementor-animation-bob" role="button">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text"><span class="ti-arrow-right"></span></span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="9e5d52d" class="elementor-element elementor-element-9e5d52d stellar elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="a635914" class="elementor-element elementor-element-a635914 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="b5f14bd" class="elementor-element elementor-element-b5f14bd stellar elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="607646a" class="elementor-element elementor-element-607646a elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-default">Elegant Cultural Center</h3></div>
                                                                </div>
                                                                <div data-id="24278c9" class="elementor-element elementor-element-24278c9 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">November 2017</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="83e1457" class="elementor-element elementor-element-83e1457 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Polished finish elegant court shoe work duty stretchy slingback strap mid kitten heel this ladylike design slingback strap mid kitten heel this ladylike design.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="6a921fd" class="elementor-element elementor-element-6a921fd elementor-align-right elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="single-portfolio-4.html" class="elementor-button-link elementor-button elementor-size-xl elementor-animation-bob" role="button">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text"><span class="ti-arrow-right"></span></span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="b3ea96a" class="elementor-element elementor-element-b3ea96a elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="09b5ab7" class="elementor-element elementor-element-09b5ab7 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="single-portfolio-4.html" data-elementor-open-lightbox="">
                                                                                <img width="1024" height="683" src="upload/camila-ferrari-190965-unsplash-1024x683.jpg" class="elementor-animation-shrink attachment-large size-large" alt="" > </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="1663b83" class="elementor-element elementor-element-1663b83 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="3dc6f02" class="elementor-element elementor-element-3dc6f02 elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="c51109b" class="elementor-element elementor-element-c51109b elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="single-portfolio-5.html" data-elementor-open-lightbox="">
                                                                                <img width="1024" height="929" src="upload/T17_0168-1-1024x929.jpg" class="elementor-animation-shrink attachment-large size-large" alt="" > </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="127416f" class="elementor-element elementor-element-127416f stellar elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="8d15d58" class="elementor-element elementor-element-8d15d58 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-default">Rustic Steel House</h3></div>
                                                                </div>
                                                                <div data-id="3f9a968" class="elementor-element elementor-element-3f9a968 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">August 2017</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="f923f86" class="elementor-element elementor-element-f923f86 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et magnis</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="38903ef" class="elementor-element elementor-element-38903ef elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="single-portfolio-5.html" class="elementor-button-link elementor-button elementor-size-xl elementor-animation-bob" role="button">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text"><span class="ti-arrow-right"></span></span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="e455aec" class="elementor-element elementor-element-e455aec stellar elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="a4af3a1" class="elementor-element elementor-element-a4af3a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="00e55c3" class="elementor-element elementor-element-00e55c3 stellar elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                    <div data-id="9b3f5f8" class="elementor-element elementor-element-9b3f5f8 stellar elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="b622a3c" class="elementor-element elementor-element-b622a3c elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-default">Modern Minimalist House</h3></div>
                                                                </div>
                                                                <div data-id="c308ca6" class="elementor-element elementor-element-c308ca6 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">June 2017</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="dac01d6" class="elementor-element elementor-element-dac01d6 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">Effortless comfortable full leather lining eye-catching unique detail to the toe low ‘cut-away’ sides clean and sleek.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="fe41fea" class="elementor-element elementor-element-fe41fea elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="single-portfolio-6.html" class="elementor-button-link elementor-button elementor-size-xl elementor-animation-bob" role="button">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text"><span class="ti-arrow-right"></span></span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="68eb5ef" class="elementor-element elementor-element-68eb5ef elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="476d569" class="elementor-element elementor-element-476d569 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="single-portfolio-6.html" data-elementor-open-lightbox="">
                                                                                <img width="683" height="1024" src="upload/modern-minimalist-materials-683x1024.jpg" class="elementor-animation-shrink attachment-large size-large" alt="" > </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="9d96e25" class="elementor-element elementor-element-9d96e25 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div data-id="33468bc" class="elementor-element elementor-element-33468bc elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="cb8a5c8" class="elementor-element elementor-element-cb8a5c8 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="single-portfolio-7.html" data-elementor-open-lightbox="">
                                                                                <img width="1024" height="579" src="upload/140658719663200-1024x579.jpg" class="elementor-animation-shrink attachment-large size-large" alt="" > </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="4bcaabd" class="elementor-element elementor-element-4bcaabd stellar elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="dc12812" class="elementor-element elementor-element-dc12812 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-default">Eco Friendly House</h3></div>
                                                                </div>
                                                                <div data-id="3630d31" class="elementor-element elementor-element-3630d31 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p class="p1">April 2017</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="b95f892" class="elementor-element elementor-element-b95f892 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="a5fb36b" class="elementor-element elementor-element-a5fb36b elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="single-portfolio-7.html" class="elementor-button-link elementor-button elementor-size-xl elementor-animation-bob" role="button">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text"><span class="ti-arrow-right"></span></span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clear">
            </div>



        </div>
{{>userFooter}}




    <script src="js/plugins/jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-migrate.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/core.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/widget.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/mouse.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/resizable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/draggable.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/button.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/position.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/menu.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/imagesloaded.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/masonry.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.lazy.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/modulobox.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/typed.fe.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.blockUI.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/js.cookie.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/effect.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/waypoints.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/tilt.jquery.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.stellar.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom_plugins.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/custom.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.sticky-kit.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.tooltipster.min.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var tgAjax = {
            "ajaxurl": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-admin\/admin-ajax.php",
            "ajax_nonce": "8d4e4ec118"
        };
    </script>
    <script src="js/plugins/architecturer-elementor.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery-numerator.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/jquery.cookie.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/dialog-man.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/coffescript.min.js" defer="defer" type="text/javascript"></script>
    <script src="js/plugins/swiper.jquery.min.js" defer="defer" type="text/javascript"></script>
    <script type='text/javascript'>
        var elementorFrontendConfig = {
            "isEditMode": "",
            "is_rtl": "",
            "breakpoints": {
                "xs": 0,
                "sm": 480,
                "md": 768,
                "lg": 1025,
                "xl": 1440,
                "xxl": 1600
            },
            "version": "2.3.5",
            "urls": {
                "assets": "https:\/\/themes.themegoods.com\/architecturer\/demo\/wp-content\/plugins\/elementor\/assets\/"
            },
            "settings": {
                "page": [],
                "general": {
                    "elementor_global_image_lightbox": "yes",
                    "elementor_enable_lightbox_in_editor": "yes"
                }
            },
            "post": {
                "id": 1877,
                "title": "Home 2",
                "excerpt": ""
            }
        };
    </script>
    <script src="js/plugins/frontend.min.js" defer="defer" type="text/javascript"></script>

</body>
</html>
